!!! 5
html(lang= 'en')
	head
		meta(charset= 'utf-8')
		title= config.title
		meta(name= 'description', content= config.description)
		link(rel= 'stylesheet', href= '/style.css')
	body
		header
			a(href= '/')
				h1= config.title
			nav
				a(href= 'https://github.com/koostudios/kel/master/')= 'Download'
				a(href= 'https://github.com/koostudios/kel')= 'Github'
				a(href= '/about')= 'About'
		.content
			!= body
		footer &copy; 2012 #{config.author}. Made with ♥ and Kel.